<%= @todo_list.name %> <br>
<%= @todo_list.description %> <br>


<% @todo_list.todo_items.each do |ti| %>
  <%= ti.body %>  <%= button_to "Remove Todo Item", todo_item_url(ti), method: :delete %><br>
<% end %>


Add Todo Item
<form action="<%= todo_items_url %>" method="post">

  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <input type="hidden" name="todo_item[todo_list_id]" value="<%= @todo_list.id %>">

  <label>Todo
    <input type="textarea" name="todo_item[body]">
  </label>

  <label>Completed
    <input type="text" name="todo_item[completed]">
  </label>

  <input type="submit" value="Add Todo Item">

</form>

<%= link_to "Edit Todo List", edit_todo_list_url(@todo_list) %>
